<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head><style rel="stylesheet" type="text/css">body{background-image:radial-gradient(blue,white);}#d1{background:#bdd4f9;border:1px inset grey;border-radius:5px;width:400px;}<!-- #d1:hover{ --><!-- box-shadow:10px 10px #d6d8db; --><!-- } -->textarea{	border:2px solid grey;}input[type=submit] {   width:25%;   background-color: #4CAF50;  color: white;  padding: 10px 20px;  border: none;  border-radius: 4px;  cursor: pointer;}input[type=submit]:hover {  background-color: #45a049;}</style>
<body><br><br><center><div id="d1" align="center"><br><br><form method="POST" align = "center"  >
  <center>Enter SMS: </center>  <textarea name="text" rows="5" cols="30">  </textarea>  <br><br>  <input type="submit" formaction="/home/">  <br><br>
</form></div></center>
</body>
</html>