<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head><style rel="stylesheet" type="text/css">body{background-image:radial-gradient(blue,white);}<!-- #d1:hover{ --><!-- box-shadow:10px 10px #d6d8db; --><!-- } -->input[type=submit] {   width:15%;   background-color: #4CAF50;  color: white;  padding: 10px 20px;  border: none;  border-radius: 4px;  cursor: pointer;}input[type=submit]:hover {  background-color: #45a049;}</style>
<body><div id="d1" align="center"><br><br><br>
<form method="POST" align = "center">
<h2 align="center">The message is {{predict}}</h2><br><br>
<input type="submit" name="spam" value="Spam" formaction="/add/">
<input type="submit" name="ham" value="Ham" formaction="/add/">
<input type="submit" name="back" value="Back" formaction="/add/">
</form></div>
</body>
</html>